
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  background-color: #c07218;
  color: white;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-size: 1.5rem;
  margin: 0;
  margin-right: auto;
}

.header img {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  border-radius: 50%;
}

.dogs-container{
  background-color: #bec3c39a;
}

.breed-title {
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 15px;
  width: 50%;
  min-width: 25%;
  color: white;
}

.dogs-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.breed-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #333;
}

.cards-container {
  display: flex;
  overflow-x: auto;
  margin-bottom: 20px;
}

.dog-card {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  width: 450px;
  height: 350px;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


/* CSS for buttons like remove filters and add filter*/
button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  margin: 5px;
}

button:hover {
  background-color: #45a049;
}


/* CSS for search area & the pills for filters*/
.search-area {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.search-box {
  margin-top: 25px;
}

/* CSS for dropdown */
.dropdown {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #a9a8a8;
  border-radius: 5px;
  margin: 0;
  width: 435px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-row {
  padding: 10px;
  width: 95%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-row:hover {
  background-color: #d9dde2;
}

.filtered-pill {
  display: inline-flex;
  align-items: center;
  background-color: #ccc;
  border-radius: 999px; /* Use a large value for a circle shape */
  padding: 0.25rem 0.75rem; /* Adjust padding as needed */
  margin: 0.25rem;
  font-size: 0.875rem; /* Equivalent to Tailwind's text-sm */
  transition: background-color 0.3s ease;
}
  
.filtered-pill:hover {
  background-color: #870423;
  cursor: pointer;
  font-weight: bold;
}
