@tailwind base;
@tailwind components;
@tailwind utilities;

  .header {
    background-color: #
  }

  .dogs-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }
  
  .dog-card-list {
    margin: 20px;
  }
  
  .cards-container {
    display: flex;
  }
  
  .dog-card {
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  
    /* Hover effect */
    &:hover {
      transform: scale(1.05);
    }
  
    img {
      width: 350px; /* Set your desired image width */
      height: 250px; /* Set your desired image height */
      object-fit: cover;
    }
  }
}
